@import "abstracts/variables";
@import "abstracts/mixins";
@import "pages/home";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $bg-color;
  a {
    color: #fff;
    /*Use Mixin*/
    @include font-source-sans($font-main);
  }
}

.wrapper {
  @include bg-img-full($img-main);
}
