* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

/*Colors*/
/*Fonts*/
/*Images*/
body {
  color: #000;
  text-align: center;
}
body p {
  font-family: "Playfair Display", serif;
}
body a {
  /*Use Mixin*/
  font-family: "Noto Serif Display", serif;
  color: #000;
}

h2 {
  font-family: "Noto Serif Display", serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

h3,
h4 {
  font-family: "Noto Serif Display", serif;
  font-weight: 700;
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.8;
  margin-bottom: 2em;
}

.meal > * {
  display: block;
  font-size: 0.9rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 1em;
}

.meal .meal--price {
  margin-bottom: 3rem;
}

.img-small {
  background: url("../img/lily-banse--YHSwy6uqvk-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
}

.btn {
  background-color: #fff;
  border: 2px solid black;
  padding: 0.8em 2.5em;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 0.2em;
}

.btn--bottom {
  margin-bottom: 10em;
}

.horizontal-line {
  width: 100%;
  height: 0.01em;
  background-color: #000;
}

.btn:hover,
:active {
  background-color: #000;
  color: #fff;
}

.logo {
  font-family: "Noto Serif Display", serif;
  font-size: 1.2rem;
  font-style: italic;
}

.header {
  display: flex;
  align-items: center;
  gap: 1em;
}
.header a:first-of-type {
  margin-left: auto;
}
.header .menu--hamburger {
  font-size: 1.5rem;
}

footer {
  margin-top: 5em;
  font-family: "Playfair Display", serif;
}
footer h4 {
  margin-bottom: 0;
}
footer li + li {
  margin-top: 1em;
}
footer .logo {
  margin: 1em 0;
  display: inline-block;
  font-size: 1.8em;
  font-weight: 100;
}
footer .social-links {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 1em;
}
footer .opening-hours a {
  color: rgb(124, 124, 124);
  text-decoration: none;
}

.welcome {
  color: #fff;
  position: relative;
}
.welcome a {
  color: #fff;
}
.welcome p {
  font-style: italic;
  font-size: 1.3rem;
  color: #fff;
}

.img-full {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../img/stefan-johnson-xIFbDeGcy44-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.welcome main {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
.welcome main nav {
  margin-top: 1em;
}
.welcome main nav a {
  font-size: 2rem;
  margin-right: 0.5em;
  text-decoration: none;
  font-weight: 400;
}

.entrees {
  margin-top: 2em;
}

.wrapper {
  padding: 1em;
}

/*Only visible for screen readers*/
.sc-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */