@import "core/reset";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "core/typography";
@import "components/img-small";
@import "components/button";
@import "sections/header";
@import "sections/footer";
@import "pages/home";
@import "pages/eat";

.wrapper {
  padding: 1em;
}

/*Only visible for screen readers*/
.sc-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
