footer {
  margin-top: 5em;
  font-family: $font-main;
  h4 {
    margin-bottom: 0;
  }
  li + li {
    margin-top: 1em;
  }
  .logo {
    margin: 1em 0;
    display: inline-block;
    font-size: 1.8em;
    font-weight: 100;
  }
  .social-links {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 1em;
  }

  .opening-hours {
    a {
      color: rgb(124, 124, 124);
      text-decoration: none;
    }
  }
}
