body {
  color: $font-color;
  text-align: center;
  p {
    font-family: $font-main;
  }
  a {
    /*Use Mixin*/
    font-family: $font-headings;
    color: $font-color;
  }
}
//Styles will be overwritten for the Welcome(index.html) page
h2 {
  font-family: $font-headings;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
}

h3,
h4 {
  font-family: $font-headings;
  font-weight: 700;
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.8;
  margin-bottom: 2em;
}

.meal > * {
  display: block;
  font-size: 0.9rem;
  font-family: $font-main;
  margin-bottom: 1em;
}

.meal .meal--price {
  margin-bottom: 3rem;
}
