//Fonts
.welcome {
  color: $bg-color;
  position: relative;
  a {
    color: $bg-color;
  }
  p {
    font-style: italic;
    font-size: 1.3rem;
    color: $bg-color;
  }
}

//Background
.img-full {
  @include bg-img-full($img-visit);
}

.welcome main {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  nav {
    margin-top: 1em;
    a {
      font-size: 2rem;
      margin-right: 0.5em;
      text-decoration: none;
      font-weight: 400;
    }
  }
}
