.btn {
  background-color: $bg-color;
  border: 2px solid black;
  padding: 0.8em 2.5em;
  text-transform: uppercase;
  font-family: $font-main;
  font-weight: 700;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 0.2em;
}

.btn--bottom {
  margin-bottom: 10em;
}

.horizontal-line {
  width: 100%;
  height: 0.01em;
  background-color: #000;
}

.btn:hover,
:active {
  background-color: #000;
  color: #fff;
}
