/*Colors*/
$bg-color: #fff;
$font-color: #000;
$link-color: #999;
$link-active-color: rgb(223, 39, 39);

/*Fonts*/
$font-headings: "Noto Serif Display", serif;
$font-main: "Playfair Display", serif;

/*Images*/
$img-main: "../img/stanford-smith-UezWo2oY4M0-unsplash.jpg";
$img-eat: "../img/lily-banse--YHSwy6uqvk-unsplash.jpg";
$img-drink: "../img/chuttersnap-5lSFDlUdzLE-unsplash.jpg";
$img-visit: "../img/stefan-johnson-xIFbDeGcy44-unsplash.jpg";
